<div
  id="updateModal"
  class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 hidden"
>
  <div class="bg-white p-6 rounded-lg shadow-lg w-96">
    <h2 id="modalTitle" class="text-xl font-semibold mb-4">Update Religion</h2>
    <form id="updateForm" action="<%= formAction %>" method="POST">
      <input type="hidden" id="updateId" name="id" />

      <div class="mb-3">
        <label for="updateName" class="block text-sm font-medium">Name</label>
        <input
          type="text"
          id="updateName"
          name="name"
          class="w-full border border-gray-300 p-2 rounded-md"
          required
        />
      </div>

      <div class="mb-3">
        <label for="updateDescription" class="block text-sm font-medium"
          >Description</label
        >
        <textarea
          id="updateDescription"
          name="description"
          class="w-full border border-gray-300 p-2 rounded-md"
          required
        ></textarea>
      </div>

      <label
        for="isActive"
        class="<%= formAction === '/admin/religion' ? '' : 'hidden' %>"
      >
        <input type="checkbox" name="isActive" id="isActive" />
        isActive
      </label>

      <select
        name="religionId"
        id="religionId"
        form="carform"
        class="<%= formAction === '/admin/religion' ? 'hidden' : 'px-5 py-3 w-40 border-gray-300 border bg-transparent rounded-md' %>"
      >
        <% religions.forEach(data => { %>
        <option value="<%= data?._id %>"><%= data?.name %></option>
        <% }) %>
      </select>

      <div class="flex justify-end gap-2 mt-4">
        <button
          type="button"
          id="closeModal"
          class="bg-gray-400 px-4 py-2 rounded-md text-white"
        >
          Cancel
        </button>
        <button
          type="submit"
          class="bg-blue-500 px-4 py-2 rounded-md text-white"
        >
          <span id="submitBtnText">Update</span>
        </button>
      </div>
    </form>
  </div>
</div>
